{% extends 'base.html.twig' %}

{% block title %}To-Do-list Project{% endblock %}
{% block body %}

    <h2 style="text-align: center;">To-Do-list Project</h2>
    <h2 style="text-align: center;">Arash Honarvar</h2>

{% endblock %}